<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>ADD PRODUCT</h1>
                <form action="/admin/add-product" method="post" enctype="multipart/form-data">    
                    <div class="mb-3">
                        <label for="" class="">name</label>
                        <input type="text" name="name" class="form-control" >

                        <label for="" class="">Category</label>
                        <input type="text" name="Category" class="form-control" >

                        <label for="" class="">Price</label>
                        <input type="text" name="Price" class="form-control" >

                        <label for="" class="">Discription</label>
                        <input type="text" name="Discription" class="form-control" >

                         <label for="" class="">Image</label>
                        <input type="file" name="myfile" class="form-control" >
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>